@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <button class="btn btn-primary" asp-action="ParseGames" asp-controller="Home">Display sample data</button>
    </form>
</div>