@{
    ViewData["Title"] = "Home Page";
}

@model InputModel

<div class="text-center">
    <form asp-controller="Home" asp-action="ParseGames" method="post">
        <div class="form-group">
            <label asp-for="SummonerName"></label>
            <input asp-for="SummonerName" class="form-control" type="text" placeholder="Summoner Name"/>
        </div>
        
        <div class="form-group">
            <label asp-for="SummonerRegion"></label>
            <select asp-for="SummonerRegion" class="form-control" type="text" list="value">
                <datalist>
                    <option>EUN1</option>
                    <option>EUW1</option>
                    <option>NA1</option>
                </datalist>
            </select>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Check winrates!"/>
        </div>
    </form>
</div>