@using System.Globalization
@model ChampionWinLossStatCollection

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Specific Champion Winrates</h2>
<h3>Winrate means the percentage of games that champion won while in the enemy team.</h3>
<h4>Due to Riot API limitations, this might take a while.</h4>

@if (Model.IsComplete)
{
    <table class="table">
        <thead>
            <tr>
                <th>Champion</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Winrate</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var pair in Model.ChampionWinLossStats)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value.Wins</td>
                    <td>@pair.Value.Losses</td>
                    <td>@Math.Round(pair.Value.Winrate, 2).ToString(CultureInfo.InvariantCulture)</td>
                </tr>
            }
        </tbody>
    </table>
}